p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
    background-color: blueviolet;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    background-color: cadetblue;
}